#nav-bar{
    width: 100%;
    background-color: aliceblue;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#title{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;
    color:rgb(23, 0, 70);
    padding: 10px;
    width:35%;
    letter-spacing: 1.6;

}

.navbar-link{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 60%;
}

.navbar-link>div{
    padding: 10px;
    color: black;    
}
.navbar-link>div>a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1.5;
}

